<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Kartris.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<applicationSettings>
		<Kartris.My.MySettings>
   <setting name="MerchantName" serializeAs="String">
    <value>CACTUSOFT</value>
   </setting>
   <setting name="MerchantPassword" serializeAs="String">
    <value>8361</value>
   </setting>
   <setting name="Ep_code" serializeAs="String">
    <value>a235115f598b24ca4471b2a1fbfd4c50</value>
   </setting>
   <setting name="Entity" serializeAs="String">
    <value>10611</value>
   </setting>
   <setting name="Ep_country" serializeAs="String">
    <value>GB</value>
   </setting>
   <setting name="ProcessCurrency" serializeAs="String">
    <value>GBP</value>
   </setting>
   <setting name="AuthorizedOnly" serializeAs="String">
    <value>FALSE</value>
   </setting>
   <setting name="Profile" serializeAs="String">
    <value></value>
   </setting>
   <setting name="css_id" serializeAs="String">
    <value></value>
   </setting>
   <setting name="Status" serializeAs="String">
    <value>TEST</value>
   </setting>
   <setting name="template_nr" serializeAs="String">
    <value></value>
   </setting>
   <setting name="PostURL_Live" serializeAs="String">
    <value>https://www.easypay.pt/_s/</value>
   </setting>
   <setting name="PostURL_Test" serializeAs="String">
    <value>http://test.easypay.pt/_s/</value>
   </setting>
   <setting name="force_country" serializeAs="String">
    <value>N</value>
   </setting>
   <setting name="days_per_period" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="IsProtected" serializeAs="String">
    <value>No</value>
   </setting>
   <setting name="AnonymousCheckout" serializeAs="String">
    <value>FALSE</value>
   </setting>
   <setting name="FriendlyName(en-GB)" serializeAs="String">
    <value>Easypay CreditCard</value>
   </setting>
  </Kartris.My.MySettings>
	</applicationSettings>
</configuration>
