<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kartris.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <Kartris.My.MySettings>
            <setting name="UnitOfMeasurement" serializeAs="String">
                <value>LBS</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>USD</value>
            </setting>
            <setting name="DeveloperKey" serializeAs="String">
                <value></value>
            </setting>
            <setting name="DeveloperPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="AccountNumber" serializeAs="String">
                <value></value>
            </setting>
            <setting name="MeterNumber" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ShopCountryCode" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ShopPostalCode" serializeAs="String">
                <value></value>
            </setting>
            <setting name="RateResidential" serializeAs="String">
                <value>TRUE</value>
            </setting>
            <setting name="PackageDimensionInches_hwl" serializeAs="String">
                <value>4,13,10</value>
            </setting>
            <setting name="InsuredValue" serializeAs="String">
                <value>100.00</value>
            </setting>
            <setting name="OriginationZip" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Machinable" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="MailType" serializeAs="String">
                <value>Package</value>
            </setting>
            <setting name="Fedex_RateWebReference_RateService" serializeAs="String">
                <value>https://wsbeta.fedex.com:443/web-services/rate</value>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>OFF</value>
            </setting>
            <setting name="IsProtected" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="FriendlyName(en-GB)" serializeAs="String">
                <value>Fedex</value>
            </setting>
            <setting name="AnonymousCheckout" serializeAs="String">
                <value>FALSE</value>
            </setting>
            <setting name="FriendlyName(en-US)" serializeAs="String">
                <value>Fedex</value>
            </setting>
            <setting name="FriendlyName(de-DE)" serializeAs="String">
                <value></value>
            </setting>
        </Kartris.My.MySettings>
    </applicationSettings>    
</configuration>
