################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Skins/Kartris/Templates
/Uploads/Logs/Errors/
InitialSetup.txt
