################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Skins/Kartris/Templates
/Images/Products/9
/Uploads
/Images/Products/1219
/.vs/kartris/v15
/Images/Products/5/350
