<?xml version="1.0" encoding="utf-8" ?>
<!--
===============================================================================
KARTRIS by cactusoft
Copyright 2011 CACTUSOFT INTERNATIONAL FZ LLC - www.kartris.com
All rights reserved.
===============================================================================
TAX REGIME CONFIGURATION FILE
-->

<configuration>
	<EUTaxRegime mode="PerItem">
		<TaxFields>
			<V_Tax type="rate" />
			<D_Tax type="boolean"/>
		</TaxFields>
		<TaxRateCalculation value="V_Tax*D_Tax" />
		<TaxSettings>
			<Config name="general.tax.euvatcountry" value="GB"/>
			<Config name="general.tax.euvatnumbercheck" value="y"/>
			<Config name="general.tax.pricesinctax" value="y"/>
			<Config name="general.tax.shipping" value="shipping"/>
			<Config name="frontend.display.showtax" value="y"/>
			<Config name="frontend.checkout.orderhandlingchargetaxband" value="2"/>
			<Config name="frontend.checkout.shipping.taxband" value="2"/>
		</TaxSettings>
		<DestinationsFilter KeyFieldName="D_ISOCode">
			<Destination Name="United Kingdom" Key="GB"/>
			<Destination Name="Austria" Key="AT"/>
			<Destination Name="Belgium" Key="BE"/>
			<Destination Name="Bulgaria" Key="BG"/>
			<Destination Name="Croatia" Key="HR"/>
			<Destination Name="Cyprus" Key="CY"/>
			<Destination Name="Czech Republic" Key="CZ"/>
			<Destination Name="Denmark" Key="DK"/>
			<Destination Name="Estonia" Key="EE"/>
			<Destination Name="Finland" Key="FI"/>
			<Destination Name="France" Key="FR"/>
			<Destination Name="Germany" Key="DE"/>
			<Destination Name="Greece" Key="GR"/>
			<Destination Name="Hungary" Key="HU"/>
			<Destination Name="Ireland" Key="IE"/>
			<Destination Name="Italy" Key="IT"/>
			<Destination Name="Latvia" Key="LV"/>
			<Destination Name="Lithuania" Key="LT"/>
			<Destination Name="Luxembourg" Key="LU"/>
			<Destination Name="Malta" Key="MT"/>
			<Destination Name="Netherlands" Key="NL"/>
			<Destination Name="Poland" Key="PL"/>
			<Destination Name="Portugal" Key="PT"/>
			<Destination Name="Romania" Key="RO"/>
			<Destination Name="Slovakia" Key="SK"/>
			<Destination Name="Slovenia" Key="SI"/>
			<Destination Name="Spain" Key="ES"/>
			<Destination Name="Sweden" Key="SE"/>
		</DestinationsFilter>
	</EUTaxRegime>

	<USTaxRegime mode="PerItem">
		<TaxFields>
			<V_Tax type="boolean" />
			<D_Tax type="rate" />
		</TaxFields>
		<TaxRateCalculation value="V_Tax*D_Tax" />
		<TaxSettings>
			<Config name="general.tax.pricesinctax" value="n"/>
			<Config name="general.tax.shipping" value="shipping"/>
			<Config name="frontend.display.showtax" value="n"/>
			<Config name="frontend.checkout.orderhandlingchargetaxband" value="2"/>
			<Config name="frontend.checkout.shipping.taxband" value="2"/>
		</TaxSettings>
		<DestinationsFilter KeyFieldName ="D_ISOCode" KeyFieldValue="US" />
	</USTaxRegime>

	<CANADATaxRegime mode="PerItem">
		<TaxFields>
			<V_Tax type="boolean"/>
			<V_Tax2 type="boolean"/>
			<D_Tax type="rate">
				<Name Culture="en-CA" value="GST"/>
			</D_Tax>
			<D_Tax2 type="rate">
				<Name Culture="en-CA" value="PST"/>
			</D_Tax2>
			<D_TaxExtra>
				<add value="compounded">
					<Name Culture="en-CA" value="HST"/>
				</add>
			</D_TaxExtra>
		</TaxFields>
		<TaxRateCalculation type="default" value="(V_Tax*D_Tax)+(V_Tax2*D_Tax2)" />
		<TaxRateCalculation type="compounded" value="(((1*(V_Tax*D_Tax))+1) + (((1*D_Tax)+1)*(V_Tax2*D_Tax2)))-1" />
		<TaxSettings>
			<Config name="general.tax.pricesinctax" value="n"/>
			<Config name="general.tax.shipping" value="shipping"/>
			<Config name="frontend.display.showtax" value="n"/>
			<Config name="frontend.checkout.orderhandlingchargetaxband" value="2"/>
			<Config name="frontend.checkout.shipping.taxband" value="2"/>
		</TaxSettings>
		<DestinationsFilter KeyFieldName="D_ISOCode" KeyFieldValue="CA" />
	</CANADATaxRegime>

	<SIMPLETaxRegime mode="PerItem">
		<TaxFields>
			<V_Tax type="boolean" />
			<D_Tax type="rate" />
		</TaxFields>
		<TaxRateCalculation value="V_Tax*D_Tax" />
		<TaxSettings>
			<Config name="general.tax.pricesinctax" value="n"/>
			<Config name="general.tax.shipping" value="shipping"/>
			<Config name="frontend.display.showtax" value="n"/>
			<Config name="frontend.checkout.orderhandlingchargetaxband" value="2"/>
			<Config name="frontend.checkout.shipping.taxband" value="2"/>
		</TaxSettings>
	</SIMPLETaxRegime>
	<DestinationsFilter />
</configuration>