/* 
========================================================================
HORIZONTAL DROPDOWN MENU SYSTEM
========================================================================
*/
#menubar								{ }

#menubar .top-bar                       { background-color: #ddd; margin: 0 0 6px 0; }
#menubar .top-bar.expanded .title-area  { background: #ccc; }
#menubar .top-bar-section li a:not(.button)
                                        { background-color: #ddd; color: #333; font-weight: normal; font-size: 70%; text-transform: uppercase; }
/* Style top level links */
#menubar .top-bar-section li            { border-left: solid 1px #fff; }
#menubar .top-bar-section li a:hover
                                        { background-color:#eee; }
#menubar .top-bar li.name span          { display: inline-block; padding: 0 0 0 10px; }
/* 
========================================================================
CATEGORY NAVIGATION MENU
The primary styles are created by foundation.css. Rather than change
styles there (which would be overwritten if we upgrade Foundation to
a newer version), just just grab the bits we need to change here.
========================================================================
*/
#categorymenu .top-bar                  { background-color: #333; }

/* Mobile menu */
#categorymenu .top-bar .title-area .name a
                                        { font-weight: bold; color: #fff; display: block; padding: 0 10px; height: 100%; }
#categorymenu .top-bar .title-area .name a:hover
                                        { color: #000; background-color: #aaa; }

/* Category link background */
#categorymenu .top-bar-section li a:not(.button)
                                        { background-color: #333; }

/* Down arrow on each menu in main category nav bar - control position and colour */
#categorymenu .top-bar-section .has-dropdown > a:after
                                        { border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent; top: 13.5px; }

/* Links within the dropdown menus */
#categorymenu .top-bar-section .dropdown li a
                                        { font-weight: normal; padding: 6px 15px; color: #ddd; border-right:solid 1px #999; }
#categorymenu .top-bar-section .dropdown li a:hover
                                        { color: #000; background-color: #aaa; }

/* Button to replace main nav menu in small devices */
#categorymenu .mobile-link              { font-weight: bold; padding: 2px 15px; color: #ddd; display: block; }
#categorymenu .mobile-link:hover        { color: #000; background-color: #aaa; }

/* Style top level links */
#categorymenu .top-bar-section li       { border-right: solid 1px #999; }
#categorymenu .top-bar-section li a:hover
                                        { background-color: #777; }

/* depending on the width of your site, you will need to adjust the
    breakpoint where the nav menu collapses to the mobile version. You need to
    find the following styles in foundation.css and tweak the width up or down.

    .top-bar-js-breakpoint .... (tweak the 'width')
    @media only screen and .... (tweak the 'min-width')
    
    Also, match the min-width in the style below to the same value as 
    the one you use in the foundation.css */

@media only screen and (min-width: 930px) {
  #menubar .title-area li.name,
  #categorymenu .title-area li.name { display: none; }
  .row { max-width: 880px; }
  }

/* 
========================================================================
ADDITIONAL MEDIA QUERIES
Special CSS rules for small screens, large screens, touch, etc.
========================================================================
*/
@media only screen and (max-width: 500px) {
  .products_shortened .item,
  .subcategories_shortened .item,
  #homepage .products_tabular .item { display: block; float: none; width: 100%; margin: 0 0 5px 0; }
  .Kartris-DetailsView-Value { width: 270px; }
  ul { max-width: 100%; }
  #pagecontent_pad { min-height: 200px; padding-bottom: 15px; }
  .hand { cursor: default; }
  }

/* 
========================================================================
ORBIT SLIDESHOW
========================================================================
*/
#front-slideshow                        { background-color: #fd5; }
#front-slideshow li                     { padding: 10px 80px; min-height: 200px; }

/* 
========================================================================
GENERAL 
========================================================================
*/
table tr td                             { font-size: 100%; }
table thead,
table tfoot                             { background: #fff; }
