/* 
========================================================================
PRINT CSS
This hides headers, footers, etc. and also sets sizes and other
properties of elements to ensure they print ok. 
========================================================================
*/
#header,
.breadcrumbtrail,
#recentlyviewed,
#footer,
.addtobasket,
#cntMain_UC_ProductView_tbcProduct_header,
#adminbarmenu,
.squarebuttons {display:none !important;}

body, h1, h2, h3, ol, ul, div
{ float: none; position: static; overflow: visible; }

html    { height: auto; max-height: none; overflow: visible;  }
body,
body.main,
form.container  { height: auto; margin: 0; padding: 0; max-height: none; overflow: visible; }

.subcategories_shortened { display: inline;  }
.subcategories_shortened div { display: inline-block;  }

img { max-height: 75vh !important; }

a[href]:after { content: none; }
