/* 
========================================================================
MAIN LAYOUT
========================================================================
*/
html                                    { height:100%; overflow-y:scroll; overflow-x: hidden; overflow:-moz-scrollbars-vertical; }
body									{ background-color: #fff; }
body.main                               { background: #ccc; padding: 0 0 232px 0; }
#container                              { background-color: #fff; max-width: 980px; margin: 0 auto; min-height: 100%;}
#centre_container                       { display: block; }
/* 
========================================================================
SECTIONS
========================================================================
*/
#header .logo                           { margin: 20px 0 0 0; }
#pagecontent_pad                        { min-height: 100px; padding-bottom: 15px; }
/* 
========================================================================
LOGIN STATUS
========================================================================
*/
#loginstatus                            { text-transform: uppercase; font-size: 85%; font-weight: normal; color: #333; padding: 7px 0 3px 0; }
#loginstatus .logout                    { display: inline-block; position: relative; height: 15px; }
#loginstatus a.icon_logout:hover        { }
#loginstatus strong                     { color: #000; text-transform: none; font-size: 115%; }
#loginstatus #login_myaccountlink a     { color: #333; margin: 0 0 0 30px; }
/* 
========================================================================
SEARCH BOX
========================================================================
*/
#section_searchbox                      { padding: 15px 0 5px 0; }
#section_searchbox input.button         { background-color: #eee; color: #000; font-weight: bold; width: 100%; margin: 0 5px 0 0; height: 30px; }
#section_searchbox input[type="text"]   { box-shadow: none; height: 30px; background-color: #eee; border: none; border-style: none; }
#section_searchbox input[type="text"]:focus
                                        { background-color: #fd7; }
/* 
========================================================================
OTHER CONTROLS language, currency, etc.
========================================================================
*/
#regionalsettings                       { margin: 30px 0 0 0; }
#currencymenu                           { margin: 1px 0 0 0; float: right; text-align: right; display: block; border: none; max-width: 90px; }
#currencymenu select					{ border: none; background-color: #fff; font-size: 90%; box-shadow: none; }
#languagemenu                           { float: right; text-align: right; display: block; max-width: 110px; border: none; margin: 0 10px 0 0; }
#recentlyviewed                         { border-top: solid 3px #ddd; padding: 10px 0 20px 0; }
/* 
========================================================================
BASKET SUMMARY
========================================================================
*/
#minibasketholder                       { }
#minibasket                             { width: auto; padding: 5px 0 5px 0; }
#minibasket #minibasket_header          { position: absolute; width: 100%; z-index: 2000; background-color: transparent; }
#minibasket h4                          { letter-spacing: 0; white-space: nowrap; height: 21px; float: right; background: none; text-transform: uppercase; font-size: 85%; font-family: Segoe UI, Arial, Helvetica, Sans-Serif; margin: 0 35px 0 0; display: inline-block; color: #fff; text-align: right; z-index: 9992; padding: 3px 0 10px 2px; }
#minibasket h4 strong                   { color: #999; font-weight: bold; }
#minibasket h4 a                        { background-position: -2px -8px; background-image: url(Images/icon_shopping_cart.png); background-repeat: no-repeat; color: #333; padding: 2px 0 1px 29px; font-weight: bold; }
#minibasket #minibasket_main            { display: none; height: 0px; width: 100%; }
#minibasket:hover #minibasket_main      { background-color: #ddd; border-right: solid 1px #bbb; border-bottom: solid 1px #bbb; display: block; z-index: 1999; text-align: left; height: auto; position: absolute; right: 15px; padding: 40px 8px 8px 8px; margin: -10px 0 0 0; }
#minibasket:hover                       { background-color: #ddd; z-index: 1999; max-height: 1px; }
#minibasket:hover h4 strong             { color: #000; }
#minibasket:hover h4 a                  { color: #000; }
#minibasket #content                    { width: 100%; }
#minibasket #contents #orderinprogress,
#minibasket #contents #basketisempty    { padding: 1px 5px 12px 5px; font-weight: normal; font-size: 95%; color: #111; }
#minibasket ul                          { margin: 0; padding: 0; }
#minibasket ul li                       { list-style: none; float: none; clear: both; margin: 0 0 0 0; padding: 2px 0 0 0; }
#minibasket #contents ul #totals        { border-top: solid 1px #fff; padding: 4px 5px 6px 10px; font-weight: normal; text-transform: uppercase; color: #999; font-size: 80%; text-align: right; }
#minibasket #contents ul #totals span.price
                                        { color: #090; font-weight: normal; font-size: 120%; }
#minibasket #contents ul #totals span.total
                                        { color: #090; font-weight: bold; font-size: 140%; }
#minibasket #contents ul #totals #minibasket_whereapplicable
                                        { margin: 10px 0 0 0; font-size: 85%; letter-spacing: 1px; }
#minibasket #contents ul #totals strong { font-weight: bold }
#minibasket #contents ul li a           { font-size: 100%; border-top: solid 1px #fff; color: #444; padding: 1px 5px 1px 5px; margin: 0 0 1px 0; display: block; }
#minibasket #contents ul li a:hover     { color: #000; text-decoration: underline; }
#minibasket .button                     { background-color: #999; color: #fff; font-size: 100%; width: 100%; }
#minibasket .button:hover               { background-color: #ddd; color: #000; }
.compactminibasket a                    { white-space: nowrap; background-position: 1px 1px; background-image: url(Images/icon_shopping_cart.png); background-repeat: no-repeat; color: #333; width: auto; padding: 9px 0 5px 30px; float: right; text-transform: uppercase; font-size: 85%; font-family: Segoe UI, Arial, Helvetica, Sans-Serif; }
#compactbasket_noofitems                { color: #bbb; }
#minibasket #compactbasket_totalprice   { color: #090; margin: 1px 0 0 5px; font-weight: bold; font-size: 110%; }
#minibasket:hover #compactbasket_totalprice
                                        { color: #090; }
.compactminibasket a:hover              { text-decoration: underline; }

/* 
========================================================================
FOOTER
========================================================================
*/
#footer                                 { margin: 0; padding: 0; min-height: 232px; /*change this size depending on the height of the footer image you're using*/ width: 100%; bottom: 0px; }
#footer_inside                          { background-color: #999; height: 100%; min-height: 232px; max-width: 980px; margin: 0 auto; color: #555; padding: 10px 20px 0 20px; }
#footer a                               { color: #ddd; font-weight: normal; }
#footer #copyright                      { font-size: 90%; margin: 45px 0 20px 0; }
#footer h2                              { color: #fff }
#footer ul                              { margin: 0; text-transform: uppercase; font-size: 90%; padding: 0; list-style-type: none; }
#footer ul li                           { padding: 0; }
#footer ul li a                         { padding: 2px; display: block; }
#footer ul li a:hover                   { background-color: #aaa; color: #ddd; }

