<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kartris.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <Kartris.My.MySettings>
            <setting name="ApiKeyPublishable" serializeAs="String">
                <value>pk_test_51LG2moDGcv4xdwF1pci2NdPfBApnLxi0DbhIT9XQUn4ctmZCuieazRSUea1XQHaDkLtfGwlHgq8Gz54VAGAAsGoL00etyOH8vR</value>
            </setting>
            <setting name="ApiKeySecret" serializeAs="String">
                <value>sk_test_51LG2moDGcv4xdwF1xqJm4ZN7XpvTIZWIeY858xn0Q8p9VcL6JD5bGYkAvQYfFrfHYrFhQIwjKfvYaboltn43z0Mc006mwXNpdp</value>
            </setting>
            <setting name="WebhookEndpointSecret" serializeAs="String">
                <value>whsec_37e056d7b74804ea9183ad7b6ae64e6f7ec1e82f79e249f44594f58dde8ae2f9</value>
            </setting>
            <setting name="OrderDescription" serializeAs="String">
                <value>Kartris Order No.</value>
            </setting>
            <setting name="PaymentMethodTypes" serializeAs="String">
                <value>card</value>
            </setting>
            <setting name="StripeJSSourceURL" serializeAs="String">
                <value>https://js.stripe.com/v3/</value>
            </setting>
            <setting name="ProcessCurrency" serializeAs="String">
                <value>GBP</value>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>TEST</value>
            </setting>
            <setting name="AuthorizedOnly" serializeAs="String">
                <value>FALSE</value>
            </setting>
            <setting name="IsProtected" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="AnonymousCheckout" serializeAs="String">
                <value>FALSE</value>
            </setting>
            <setting name="FriendlyName(en-GB)" serializeAs="String">
                <value>Stripe Card Payment</value>
            </setting>
            <setting name="FriendlyName(de-DE)" serializeAs="String">
                <value></value>
            </setting>
        </Kartris.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
