<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kartris.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <Kartris.My.MySettings>
      <setting name="CurrencyConversion" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Currency" serializeAs="String">
        <value>USD</value>
      </setting>
      <setting name="AccessKey" serializeAs="String">
        <value>DC33A3ED106B6DB0</value>
      </setting>
      <setting name="Commercial" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="MoreInfoURL" serializeAs="String">
        <value>http://www.ups.com/content/us/en/resources/select/index.html</value>
      </setting>
      <setting name="PackageType" serializeAs="String">
        <value>02</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>p0ngas</value>
      </setting>
      <setting name="PickupType" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="ShopCountryCode" serializeAs="String">
        <value>US</value>
      </setting>
      <setting name="ShopPostalCode" serializeAs="String">
        <value>33605</value>
      </setting>
      <setting name="ShopRegionCodeCode" serializeAs="String">
        <value>us</value>
      </setting>
      <setting name="ShowDeliveryDays" serializeAs="String">
        <value>y</value>
      </setting>
      <setting name="UnitOfMeasurement" serializeAs="String">
        <value>LBS</value>
      </setting>
      <setting name="URL" serializeAs="String">
        <value>https://www.ups.com/ups.app/xml/Rate</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>pyramidimaging</value>
      </setting>
      <setting name="Status" serializeAs="String">
        <value>ON</value>
      </setting>
      <setting name="IsProtected" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="FriendlyName(en-GB)" serializeAs="String">
        <value>UPS</value>
      </setting>
      <setting name="AnonymousCheckout" serializeAs="String">
        <value>FALSE</value>
      </setting>
      <setting name="FriendlyName(de-DE)" serializeAs="String">
        <value></value>
      </setting>
    </Kartris.My.MySettings>
  </applicationSettings>
</configuration>
