<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <style type="text/css">
            p
            {
                font-family: Verdana;
            }
         </style>
	    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <title>[supporttickettitle]</title>
    </head>
    <body>
        <!-- HTML comments are stripped out when the templates are retrieve so it wouldn't matter if we have a lot here -->
        <p>[customermessage]</p>

        <p><a href="[supportticketlink]">[supportticketlink]</a></p>
        
        <!-- retrieve the last message from the admin/customer (if there's any) and include it in the message -->
        [lastmessageblock]
    </body>
</html>