/* 
========================================================================
CATEGORY FILTERS - if you have the PowerPack installed
========================================================================
*/
.page_category .filterbar #filterbar_pad        { padding: 3px 10px 10px 0; background: #fff; }
.page_category .filterbar  #customprice         { padding: 5px 0; }
.page_category .filterbar  .filterattributes    { padding: 15px 0 10px 0; }
.page_category .filterbar  .shorttext           { display: inline-block; }
.page_category .filterbar  select,
.page_category .filterbar  input                { margin: 1px 0 3px 0; }
.page_category .filterbar  input[type="checkbox"]   { float: left; }
.page_category .filterbar  label,
.page_category .filterbar  span.attribute_title { font-size: 11px; text-transform: uppercase; display: inline-block; letter-spacing: 0px; color: #777; margin-bottom: 3px; font-weight: normal; vertical-align: top; }
.page_category .filterbar  table                { margin: 0 0 10px 0; background: none; border-bottom: solid 1px #ccc; }
.page_category .filterbar  table tr td          { background: #fff; padding: 1px; border: none; }
.page_category .filterbar  table tr td label    { color: #333; text-transform: none; font-size: 100%; }
/* 
========================================================================
SEARCH BOX - the powerpack version has some extra stuff
========================================================================
*/
#section_searchbox .rightdetail         { font-size: 10px; color: #bbb; float: right; text-transform: uppercase; display: none; }
#section_searchbox .autocomplete_completionListElement
                                        { font-size: 12px; color: #555; border: none; border: solid 1px #999; box-shadow: #bbb 3px 3px 3px; background-color: #fff; line-height: 12px; }
#section_searchbox .autocomplete_listItem
                                        { font-size: 12px; color: #555; font-weight: normal; padding: 4px 2px 6px 2px; display: block; }
#section_searchbox .autocomplete_highlightedListItem
                                        { font-size: 12px; color: #000; font-weight: normal; background-color: #fd7; padding: 4px 2px 6px 2px; display: block; }

