/* 
========================================================================
MAIN LAYOUT
========================================================================
*/
html                                    { height: 100%; }
body									{ background-color: #fff; min-height: 100%; }
body.main                               { background: #ddd; overflow: scroll; overflow: -moz-scrollbars-vertical; min-height: 100%; }
#centre_container                       { background-color: #fff; min-height: 100%; padding: 0 20px; max-width: 900px; }
/* 
========================================================================
SECTIONS
========================================================================
*/
#header .logo                           { margin: 20px 0 10px 0; }
#pagecontent_pad                        { min-height: 300px; padding-bottom: 15px; }
/* 
========================================================================
LOGIN STATUS
========================================================================
*/
#loginstatus                            { padding: 5px 0 10px 0; }
#loginstatus .logout                    { display: inline-block; position: relative; height: 15px; }
#loginstatus a.icon_logout:hover        { color: #000 }
#loginstatus strong                     { color: #000; font-weight: normal; }
#loginstatus #login_myaccountlink a     { text-transform: uppercase; font-size: 85%; font-weight: normal; color: #333; margin: 0 0 0 30px; }
/* 
========================================================================
SEARCH BOX
========================================================================
*/
#section_searchbox                      { padding: 10px 0 5px 0; }
#section_searchbox input.button         { width: 100%; margin: 0 5px 0 0; }

/* 
========================================================================
OTHER CONTROLS language, currency, etc.
========================================================================
*/
#currencymenu                           { margin: 5px 0 0 0; float: right; text-align: right; display: block; border: none; max-width: 90px; }
#currencymenu select					{ border: none; }
#languagemenu                           { float: right; text-align: right; display: block; max-width: 110px; border: none; margin: 5px 10px 0 0; }
#recentlyviewed                         { border-top: solid 1px #fc5; padding: 10px 0 0 0; }
/* 
========================================================================
BASKET SUMMARY
========================================================================
*/
#minibasketholder                       { padding: 0 10px 0 0; }
#minibasket                             { width: auto; padding: 5px 0 5px 0; }
#minibasket #minibasket_header          { position: absolute; width: 100%; z-index: 2000; background-color: transparent; }
#minibasket h4                          { white-space: nowrap; height: 21px; float: right; background: none; text-transform: uppercase; font-size: 85%; font-family: Segoe UI, Arial, Helvetica, Sans-Serif; margin: 0 10px 0 0; display: inline-block; color: #fff; text-align: right; z-index: 9992; padding: 3px 0 10px 2px; }
#minibasket h4 strong                   { color: #999; font-weight: normal; }
#minibasket h4 a                        { background-position: -2px -8px; background-image: url(Images/icon_shopping_cart.png); background-repeat: no-repeat; color: #333; padding: 2px 0 1px 29px; font-weight: normal; }
#minibasket #minibasket_main            { display: none; height: 0px; width: 100%; }

#minibasket:hover #minibasket_main      { display: block; z-index: 1999; text-align: left; height: auto; position: absolute; background-color: #777; padding: 40px 8px 8px 8px; margin: -10px 0 0 0; }
#minibasket:hover                       { background-color: #777; z-index: 1999; max-height: 1px; }

#minibasket:hover h4 strong             { color: #fff; }
#minibasket:hover h4 a                  { color: #fff; }
#minibasket #content                    { width: 100%; }
#minibasket #contents #orderinprogress,
#minibasket #contents #basketisempty    { padding: 1px 5px 2px 5px; font-weight: normal; font-size: 95%; color: #fff; }
#minibasket #contents ul                { margin: 0; padding: 0; }
#minibasket ul li                       { list-style: none; float: none; clear: both; margin: 0 0 0 0; padding: 2px 0 0 0; }
#minibasket #contents ul #totals        { border-top: solid 1px #aaa; text-align: right; padding: 4px 5px 6px 10px; font-weight: normal; text-transform: uppercase; color: #ccc; font-size: 90%; }
#minibasket #contents ul #totals span.price
                                        { color: #6e4; font-weight: normal; font-size: 120%; }
#minibasket #contents ul #totals span.total
                                        { color: #6e4; font-weight: bold; font-size: 140%; }
#minibasket #contents ul #totals #minibasket_whereapplicable
                                        { margin: 10px 0 0 0; font-size: 85%; letter-spacing: 1px; }
#minibasket #contents ul #totals strong { font-weight: bold }
#minibasket #contents ul li a           { display: block; color: #fff; border-top: solid 1px #aaa; font-weight: normal; padding: 2px 5px 2px 5px; }
#minibasket #contents ul li a:hover     { color: #fc5; background-color: #777; }
#minibasket .button                     { background-color: #999; color: #fff; width: 100%; }
#minibasket .button:hover               { background-color: #ddd; color: #000; }

.compactminibasket a                    { white-space: nowrap; background-position: 1px 1px; background-image: url(Images/icon_shopping_cart.png); background-repeat: no-repeat; color: #333; width: auto; padding: 9px 0 5px 30px; float: right; text-transform: uppercase; font-size: 85%; font-family: Segoe UI, Arial, Helvetica, Sans-Serif; }
.compactminibasket #compactbasket_totalprice
                                        { color: #090; margin-left: 5px; }
.compactminibasket a:hover              { text-decoration: underline; }

/* 
========================================================================
FOOTER
========================================================================
*/
#footer                                 { border-top: solid 3px #fc5; margin: 0 auto; padding: 0 1px; height: 232px; /*change this size depending on the height of the footer image you're using*/ width: 100%; bottom: 0px; }
#footer_inside                          { margin: 0 auto; width: 950px; color: #aaa; padding: 10px 0 0 0; border-top: solid 3px #fc5; }
#footer a                               { color: #034; font-weight: normal; }
#footer #copyright                      { font-size: 90%; margin: 45px 0 20px 0; }
#footer h2                              { color: #000 }
#footer ul                              { text-transform: uppercase; font-size: 90%; padding: 0; list-style-type: none; }
#footer ul li a                         { padding: 2px; display: block; }
#footer ul li a:hover                   { background-color: #eee; color: #000; }

