<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers accessPolicy="Read">
      <remove name="xoml-ISAPI-4.0_64bit" />
      <remove name="xoml-ISAPI-4.0_32bit" />
      <remove name="xoml-ISAPI-2.0" />
      <remove name="xoml-64-ISAPI-2.0" />
      <remove name="xamlx-ISAPI-4.0_64bit" />
      <remove name="xamlx-ISAPI-4.0_32bit" />
      <remove name="WebServiceHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="WebServiceHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="WebServiceHandlerFactory-ISAPI-2.0-64" />
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
      <remove name="WebDAV" />
      <remove name="vbhtml-ISAPI-4.0_64bit" />
      <remove name="vbhtml-ISAPI-4.0_32bit" />
      <remove name="vbhtm-ISAPI-4.0_64bit" />
      <remove name="vbhtm-ISAPI-4.0_32bit" />
      <remove name="TRACEVerbHandler" />
      <remove name="svc-ISAPI-4.0_64bit" />
      <remove name="svc-ISAPI-4.0_32bit" />
      <remove name="SSINC-stm" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="svc-ISAPI-2.0-64" />
      <remove name="SSINC-shtml" />
      <remove name="SSINC-shtm" />
      <remove name="svc-ISAPI-2.0" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
      <remove name="SimpleHandlerFactory-ISAPI-2.0" />
      <remove name="SecurityCertificate" />
      <remove name="ExtensionlessUrl-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrl-ISAPI-4.0_32bit" />
      <remove name="rules-ISAPI-4.0_64bit" />
      <remove name="rules-ISAPI-4.0_32bit" />
      <remove name="rules-ISAPI-2.0" />
      <remove name="rules-64-ISAPI-2.0" />
      <remove name="PHP-FastCGI" />
      <remove name="Perl-PL" />
      <remove name="Perl-ISAPI" />
      <remove name="Perl-CGI" />
      <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="PageHandlerFactory-ISAPI-2.0-64" />
      <remove name="PageHandlerFactory-ISAPI-2.0" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" />
      <remove name="cshtml-ISAPI-4.0_64bit" />
      <remove name="cshtml-ISAPI-4.0_32bit" />
      <remove name="cshtm-ISAPI-4.0_64bit" />
      <remove name="cshtm-ISAPI-4.0_32bit" />
      <remove name="AXD-ISAPI-4.0_64bit" />
      <remove name="AXD-ISAPI-4.0_32bit" />
      <remove name="AXD-ISAPI-2.0-64" />
      <remove name="AXD-ISAPI-2.0" />
      <remove name="aspq-ISAPI-4.0_64bit" />
      <remove name="aspq-ISAPI-4.0_32bit" />
      <remove name="ASPClassic" />
    </handlers>
  </system.webServer>
</configuration>
