/* 
========================================================================
VERY BIG SCREENS
========================================================================
*/
@media only screen and (min-width: 1930px) {

}

/* 
========================================================================
BIG SCREENS
========================================================================
*/
@media only screen and (min-width: 930px) {
  .row { max-width: 100%; }
  #minibasket { margin-top: 10px; }
  #compactbasket_title { display: inline-block; }
  #minibasket h4 a { background-position: right 2px; padding: 6px 30px 0 0; font-size: 14px; }
  #compactbasket_noofitems { position: absolute; margin: 5px 0 0 22px; font-size: 12px; }
  #minibasket:hover #minibasket_main { margin: 0 0 0 -80px; }
  #loginstatus { margin: 7px 0 0 0; text-transform: none; float: right; }
  #loginstatus .loginbutton { float: right; background-position: right 0; }
  #loginstatus #username,
  #loginstatus #statuslabel { display: inline-block; padding: 4px 9px 0 0; }
  #loginstatus:hover #account_menu { position: absolute; width: 190px; float: right; }
  /* image popups */
  .clearing-assembled .clearing-container { background: #fff; width: 90vw; height: 90vh; margin: 2% 5%; border: solid 1px #333; box-shadow: rgba(0,0,0,0.2) 5px 5px 5px; }
  }

/* 
========================================================================
CATEGORY MENU
========================================================================
*/
@media only screen and (max-width: 1200px) {

html                                    { height:100%; max-height: 100vh; overflow-y:scroll; overflow-x: hidden; }
form.container                          { height:100%; max-height: 100vh; min-height: 100vh; display: block; overflow:visible; }

    .left-off-canvas-menu #categorymenu     { display: block; }
    #header #h_bottom                       { display: none; }
    #header #h_bottom2                       { display: none; }

    /* Header */ 
    #header                                 { height: 50px; position: fixed; width: 100%; z-index: 2; background-color: #fff; }
    #header .logo                           { max-width: 100px; margin: -10px 0 0 20px; }
    #centre_container                       { padding-top: 60px; }
    #header #h_right                        { position: fixed; right: 0; z-index: 2; max-width: 200px; }
    #centre_container                       { padding: 40px 0 0 0; }

    #searchlink { display: block; }
    #search_main { display: none; }
    a.left-off-canvas-toggle                { display: inline-block; }

    #compactbasket_title { display: none; }
    #loginstatus #username,
    #loginstatus #statuslabel { display: none; }
    #loginstatus { width: 40px; float: left; margin-right: 10px; }
    #minibasket { float: left; margin-left: 10px; }
    #header #right_icons { width: 145px; float: right; }

    /* Orbit slider */
    .orbit-timer, .orbit-slide-number { margin-top: -1000px; } /* get them out of view, but still present */
  }

/* 
========================================================================
MEDIUM SCREENS
========================================================================
*/
@media only screen and (max-width: 930px) {
    /* Products*/
    .products_shortened .item,
    .subcategories_shortened .item          { width: calc(33% - 6px); }
    .products_tabular .item                 { width: calc(50% - 10px); }
    .versions td.info                       { max-width: 200px; overflow: hidden; }

    /* Misc*/
    .Kartris-DetailsView-Value              { width: 270px; }
    ul                                      { max-width: 100%; }
    #pagecontent_pad                        { min-height: 200px; padding-bottom: 15px; }
    .basket td.quantity input               { width: 32px; text-align: right; }
    select,
    input                                   { width: 100%; }
    #footer_inside                          { margin: 0; }
    #footer #cardlogos      { text-align: center; }
    #loginstatus { width: 40px; float: left; margin-right: 20px; }
  }

/* 
========================================================================
SMALL SCREENS
========================================================================
*/
@media only screen and (max-width: 640px) {
    /* Products*/
    .products_shortened .item,
    .subcategories_shortened .item          { width: calc(50% - 6px); }
    .products_tabular .item                 { width: 100%; }
    .versions td.info                       { max-width: 200px; overflow: hidden; }

    /* Basket */
    .basket .controls .button { width: 49%; font-weight: normal; }
    #cntMain_UC_BasketMain_btnCheckout { margin-top: 10px; display: block; font-size: 16px; font-weight: bold; width: 100%; }

    /* Misc*/
    th.extax,
    td.extax                                { display: none; }

    /* Login status */

    h1                                      { font-size: 190%; line-height: 1.1em; }
    h2                                      { font-size: 130%; line-height: 1.1em; }

    #homepage_sliderholder                  { margin: 15px 0 30px 0; }

    #footer #cardlogos      { margin: 20px 0 10px 0; }
    #footer .card_paypal    { width: 60px; margin: 3px; }
    #footer .card_sagepay   { width: 70px; margin: 3px; }
    #footer .card_visa      { width: 40px; margin: 3px; }
    #footer .card_mc        { width: 40px; margin: 3px; }

    #footer_inside h2 { display: block; font-size: 1.2em; }
    #footer_inside a { padding: 5px 10px; font-size: 1.2em; }

    #footer a.phonelink     { font-size: 1.0em; margin: 10px 10px 0 0; padding: 0; }

    #footer #facebook       { text-align: center; }
    #footer .pvc_dreams     { float: none; margin: 20px auto; }

    #page_colourswatches .swatch-holder:active { transform: scale(1.5); }
    #page_colourswatches .swatch-holder:active .extra-info span { font-size: 110%; }
  }

