<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kartris.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <Kartris.My.MySettings>
            <setting name="Status" serializeAs="String">
                <value>ON</value>
            </setting>
            <setting name="PostURL_LIVE" serializeAs="String">
                <value>https://secure.pay4later.com:6686/</value>
            </setting>
            <setting name="PostURL_TEST" serializeAs="String">
                <value>https://test.pay4later.com:3343/</value>
            </setting>
            <setting name="api_key" serializeAs="String">
                <value>yourAPIkey</value>
            </setting>
            <setting name="AuthorizedOnly" serializeAs="String">
                <value>FALSE</value>
            </setting>
            <setting name="ProcessCurrency" serializeAs="String">
                <value>GBP</value>
            </setting>
            <setting name="InstallationID" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="FinanceCode" serializeAs="String">
                <value>ONIB12-9.9</value>
            </setting>
            <setting name="DepositPercentage" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AnonymousCheckout" serializeAs="String">
                <value>FALSE</value>
            </setting>
            <setting name="IsProtected" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="CustomerChoicesInfo" serializeAs="String">
                <value>ONIB24-14.9...24 months, 14.9%|||ONIB18-14.9...18 months, 14.9%
10%|||20%|||30%|||40%|||50%</value>
            </setting>
            <setting name="FriendlyName(en-GB)" serializeAs="String">
                <value>Pay4Later</value>
            </setting>
            <setting name="FriendlyName(de-DE)" serializeAs="String">
                <value></value>
            </setting>
        </Kartris.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
