/* 
========================================================================
HEADINGS AND BASIC FONT STYLES
========================================================================
*/
@font-face {
    font-family: 'MayfieldRegular';
    src: url('Fonts/mayfield-webfont.eot');
    src: url('Fonts/mayfield-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/mayfield-webfont.woff') format('woff'),
         url('Fonts/mayfield-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.replaceMayfield {
	font-family: 'MayfieldRegular' !important;
	font-weight: normal !important;
}

h2                                      { font-family: "Open Sans",sans-serif;font-size: 140%; color: #000; margin: 5px 0 5px 0; padding: 0; }
.h2_light_extra                         { font-family: "Open Sans",sans-serif;color: #aaa; font-weight: bold; }
h3                                      { font-family: "Open Sans",sans-serif;font-size: 100%; font-weight: bold; margin: 0 0 5px 0; padding: 0; }
h4,
h2.blockheader                          { font-family: "Open Sans",sans-serif; background-color: #58585A; font-size: 0.875em; color: #E7E7E8; font-weight: 700; margin: 1em 0px; padding: 0.4em 0.5em; }
h5                                      { font-family: "Open Sans",sans-serif;margin: 0px 0px 5px 0px; color: #000; text-transform: uppercase; padding: 2px 2px 2px 0px; text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
}
p {
    margin-bottom: .5em;
    font-size: .95em;
	line-height:1.35rem;
}

pre                                     { color: #008800 }
iframe                                  { border: none; }
iframe body                             { padding: 5px 0 0 0 }
.strong                                 { font-weight: bold }
.floatright                             { float: right }
ul, ol, dl                              { font-size: inherit; }
/* 
========================================================================
BREADCRUMBS
========================================================================
*/
.breadcrumbtrail                        { padding: 5px 17px 5px 0; display: block; font-weight: normal; text-decoration: none; margin: 15px 0 9px 0px; font-size: 0.65rem; text-transform: uppercase; }
.breadcrumbtrail span span              { font-weight: normal; color: #333; display: inline-block; padding: 0 0 0 1px; }
.breadcrumbtrail span span a            { color: #999; padding: 0 13px 0 0; display: inline-block; font-weight: normal; margin: 0; background-image: url(Images/breadcrumb_back.png); background-position: right center; background-repeat: no-repeat; }
.breadcrumbtrail span span a:hover      { text-decoration: underline; }
/* 
========================================================================
HYPERLINKS
========================================================================
*/
a:link,
a:visited                               { text-decoration: none; color: #777; outline: 0; }
a:hover                                 { text-decoration: none; color: #000; }
a.link2,
span.link2 a                            { padding: 2px 8px; text-transform: uppercase; font-size: 11px; font-weight: bold; text-decoration: none; color: #fff; background-color: #888; margin-right: 10px; border-radius: 3px; }
a.link2:hover,
span.link2:hover a                      { background-color: #666; }
/* 
========================================================================
GENERAL
========================================================================
*/
.pad_shortformat                        { padding: 20px }
div.spacer                              { clear: both }
/* Invisible elements - when we need a control to render, but not show */
.invisible                              { visibility: hidden; display: block; width: 10px; height: 8px; }
/* By default disable all borders on images */
img                                     { border: none }
/* 
========================================================================
TABLES
========================================================================
*/
table                                   { font-size: 0.875em; border: none; background-color: transparent; border-collapse: separate; width: 100%; max-width: 100%; }
table tr td                             { border-bottom: solid 1px #ddd; vertical-align: top; padding: 5px 10px 5px 5px; }
table tr.alt                            { }
table tr.headrow,
table thead tr                          { }
table tr.headrow th,
table thead tr th                       { border-bottom: solid 1px #ccc; line-height: 12px; padding: 5px 10px 4px 5px; font-weight: normal; color: #888; text-align: left; text-transform: uppercase; font-size: 75%;}
table td,
table th                                { padding: 3px }
table td strong                         { color: #000 }
table td.itemname                       { font-weight: bold }
table td.select,
table th.select                         { text-align: right }
table.filled                            { border-collapse: collapse; margin-bottom: 10px; }
table.filled td                         { color: #000; vertical-align: top; }
table tr.totalsrow td                   { background-color: transparent }
table tr.totalsrow td.total             { background-color: transparent; color: #f00; font-weight: bold; }
.nowrap                                 { white-space: nowrap }
/* 
========================================================================
DETAILS VIEW / SECTIONS
========================================================================
*/
.Kartris-DetailsView                    { width: 100% }
.Kartris-DetailsView-Data               { margin-bottom: 10px }
.Kartris-DetailsView-Data ul            { list-style-type: none; padding: 0; margin-left: 0;  }
.Kartris-DetailsView-Data ul li         { padding-top: 5px }
.Kartris-DetailsView-Name               { font-size: 90%; display: inline-block; color: #666; margin-bottom: 3px; width: 150px; font-weight: normal; vertical-align: top; padding-right: 10px; }
.Kartris-DetailsView-Value              { font-size: 90%; display: inline-block; width: 350px; max-width: 100%; vertical-align: top; color: #000; overflow: visible; }
.Kartris-DetailsView-Value label        { white-space: nowrap; max-width: 100%; }
/* 
========================================================================
FORM ELEMENTS
========================================================================
*/
form                                    { margin: 0; display: inline; padding: 0; }
textarea                                { min-height: 80px; max-width: 100%; }
select,
input                                   { width: 250px; max-width: 100%; }
input.longtext                          { width: 400px }
select.shorttext,
input.shorttext                         { width: 60px }
select:focus,
input:focus,
textarea:focus                          { color: #000; background-color: #fff; border: solid 1px #c00; }
.button                                 { font-family: "Open Sans",sans-serif; font-size: 13px; border: solid 1px #B4DB10; background-color: #B4DB10; color: #333; font-weight: 600; padding: 6px 13px; margin: 1px 0px 1px 2px; width: auto; display: inline-block; }
.button:focus,
.button:hover                           { background-color: #A5C90F; color: #333; }
input.cancelbutton                      { background-color: #ddd; border-color: #bbb; color: #666; }
input.highpriority                      { }
.inputform p                            { margin: 5px 0 15px 0 }
.inputform div                          { margin-bottom: 5px; }
.inputform .submitbuttons div           { float: none }
.inputform br                           { display: block; clear: both; }
.checkbox input,
.radio input                            { border-style: none; background-color: transparent; display: inline-block; width: 20px; float: left; margin-right: 1px; }
label                                   { font-size: 11px; text-transform: uppercase; display: inline-block; letter-spacing: 0px; color: #777; margin-bottom: 3px; font-weight: normal; vertical-align: top; }
.inputform .column2                     { padding: 0px; margin-left: 130px; }
.inputform .column2 label               { width: auto }
div.formdivider                         { display: block; border-top: dotted 1px #bbb; width: 100%; }
div.section                             { margin: 10px 0 10px 0 }
.submitbuttons                          { margin: 5px 0 20px 0; z-index: 2; width: 100%; }
/* We use this to override Foundation defaults */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select,
textarea {
	background-color: #fff;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: .5rem;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
	background-color: #f7f7f7; 
	border: none;
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled],
select[disabled],
input[readonly], input[readonly]:focus {
	background-color: #f7f7f7;
	box-shadow: none;
	color: #999;
}
/* 
========================================================================
ERRORS & VALIDATION
========================================================================
*/
span.error,
div.errortext                           { font-style: normal; font-size: 13px; display: inline-block; color: #fff; font-weight: bold; padding: 1px 5px 1px 3px; background-color: #f00; margin-left: 3px; border-radius: 3px; }
.requiredfield                          { font-weight: bold }
.valsummary                             { display: inline; color: #fff; font-weight: bold; padding: 1px 5px 1px 3px; background-color: #f00; margin-left: 10px; border-radius: 3px; }
.valsummary ul                          { display: none; visibility: hidden; }
/* 
========================================================================
IMAGES
========================================================================
*/
.imageholder                            { display: block; text-align: center; }
.imageholder img                        { margin: 0; padding: 0; }
.imageviewer                            { text-align: center; }
.imageviewer .gallery                   { padding: 0; width: 100%; text-align: left; }
.imageviewer .gallery .scrollarea       { display: inline-block }
#frmLargeImage div                      { }
#frmLargeImage .imageviewer .gallery    { padding: 5px 0 0 0; text-align: center; overflow-x: auto; overflow-y: hidden; white-space: nowrap; position: fixed; bottom: 0; width: 99%; }
.imageviewer .gallery .imageholder      { background-color: #fff; display: inline-block; float: left; border: solid 1px #aaa; margin: 0 1px 2px 1px; vertical-align: middle; height: 80px; width: 80px; overflow: visible; }
html>body .imageviewer .gallery .imageholder
										{ float: none; float: *right; /*IE7 hack */ }
.imageviewer .gallery .imageholder:hover
										{ border: solid 1px #333 }
.imageviewer .gallery .imageholder img  { vertical-align: middle; margin: 5px; }
.singleimage                            { margin: auto }
.product .promotions .singleimage       { float: left }
.largeview                              { margin: 10px 0 5px 0; float: left; }
.largeview span                         { font-size: 90%; color: #333; cursor: pointer; font-weight: bold; padding: 0 0 0 0; }
.hand                                   { cursor: pointer; }
.mainimage                              { cursor: pointer; background-color: #fff; border: solid 1px #fff; padding: 3px; margin-top: 10px; }

/* 
========================================================================
MEDIA (Video, audio, etc.)
========================================================================
*/
/* media gallery for product */
.imagecolumn .media_gallery             { padding: 5px 0 0 0 }
.imagecolumn .media_gallery h2			{ font-size: 100%; margin: 0; padding: 3px 0 5px 0; color: #000; font-weight: bold; }
.imagecolumn .media_gallery_inner       { margin: 1px 0 1px 0 }
.media_links .mediaholder a             { text-align: center; padding: 0px; display: block; margin: auto auto auto auto; height: 52px; }
.media_links .mediaholder:hover			{ border: solid 1px #333 }
.media_links .mediaholder img           { vertical-align: middle; margin: 5px; height: 50px; width: 50px; }
.media_links .mediaholder               { display: inline-block; float: left; margin: 0 1px 2px 1px; vertical-align: middle; background-color: #fff; border: solid 1px #aaa; width: 60px; height: 60px; overflow: visible; }
.media_downloadlink                     { }
/* media gallery for versions, hide title */
.versions .media_gallery h2             { display: none }
/* 
========================================================================
TABS AJAX CONTROL
========================================================================
*/
.ajax__tab_default .ajax__tab_header    { border-bottom: solid 3px #58585A; margin: 8px 0 10px 0; font-weight: normal; font-size: 90%; }
.ajax__tab_default .ajax__tab_header .total
										{ font-weight: normal }
.ajax__tab_default .ajax__tab_active .ajax__tab_outer,
.ajax__tab_default .ajax__tab_header .ajax__tab_outer,
.ajax__tab_default .ajax__tab_hover .ajax__tab_outer
										{ margin-right: 2px; padding: 0 0 0 0; }
.ajax__tab_default .ajax__tab_active .ajax__tab_inner,
.ajax__tab_default .ajax__tab_header .ajax__tab_inner,
.ajax__tab_default .ajax__tab_hover .ajax__tab_inner
										{ padding: 0; margin-left: 3px; /* offset the width of the left image */ }
.ajax__tab_tab                          { margin: 2px 10px 1px 3px; padding: 1px 5px 4px 5px; }
.ajax__tab_default .ajax__tab_header .ajax__tab_inner a
										{ font-size: 0.875em; color: #ccc }
.ajax__tab_default .ajax__tab_hover .ajax__tab_inner a
										{ font-size: 0.875em; color: #fff }
.ajax__tab_default .ajax__tab_active .ajax__tab_inner a
										{ font-size: 0.875em; color: #E7E7E8 }
.ajax__tab_default .ajax__tab_hover .ajax__tab_tab strong,
.ajax__tab_default .ajax__tab_active .ajax__tab_tab strong
										{ font-weight: bold }
.ajax__tab_default .ajax__tab_body      { background-color: transparent }
.ajax__tab_header                       { }
.ajax__tab_outer                        { background-color: #58585A; border-bottom: solid 1px #fff; }
.ajax__tab_hover .ajax__tab_outer       { background-color: #999; }
.ajax__tab_active .ajax__tab_outer      { background-color: #58585A; border-bottom: solid 1px #58585A; color: #fff; font-weight: bold; }
/* 
========================================================================
ACCORDION AJAX CONTROL
========================================================================
*/
.accordionHeader,
.accordionHeaderSelected                { border-top: solid 1px #ddd; cursor: pointer; }
.accordionHeader h2,
.accordionHeaderSelected h2             { color: #2D7DC2; font-weight: 400; font-size: 17px; cursor: pointer; margin-bottom: 10px; padding: 3px 0 0 0; }
.accordionHeader h2:before              { content: "[+]"; color: #2D7DC2; font-size: 70%; width: 25px; display: inline-block; }
.accordionHeaderSelected h2:before      { content: "-"; color: #2D7DC2; font-size: 70%; width: 25px; display: inline-block; }
/* 
========================================================================
UPDATE MESSAGE ('the record was updated')
========================================================================
*/
div.updatemessage                       { border: dotted 1px #0a0; background-color: #ccf4bb; color: #080; padding: 3px 10px 3px 10px; margin: 15px 0 10px 0; font-weight: bold; }
/* 
========================================================================
PAGE LINKS
========================================================================
*/
.itempager                              { display: block; text-align: right; font-weight: normal; text-decoration: none; font-size: 0.7rem; padding: 12px 5px 22px 0px; }
.itempager a                            { background: none; display: inline-block; padding: 4px 7px; margin-left: 6px; background-color: #fff; color: #333; }
.itempager a:hover                      { background-color: #B4DB10; color: #333; text-decoration: none; }
.itempager a.arrow                      { text-align: center }
.itempager a.currentpage                { background: none repeat scroll 0% 0% #B4DB10;
color: #333;
font-weight: bold;
cursor: default; }
.itempager .previous                    {  }
.itempager .next                        {  }
.itempager a.disabled,
.itempager a.disabled:hover             { background-color: #fff; color: #999; }
/* 
========================================================================
POPUP MESSAGE
========================================================================
*/
#largeimagepopup                        { overflow-y: hidden; overflow: hidden; background-image: none; }
.popup_background                       { background-color: #000; filter: alpha(opacity=30); opacity: 0.3; }
.popup                                  { background-color: #fff; border: solid 2px #222; padding: 45px 10px 13px 10px; width: 650px; max-width: 100%; max-height: 100%; min-height: 150px; text-align: left; top: 0px; left: 0px; overflow-y: auto; }
.popup h2                               { position: absolute; left: 10px; top: 0; padding: 10px 0 10px 0; margin: 0px; font-size: 125%; }
.popup p                                { padding: 10px 0 0 0; margin: 0; }
.popup strong                           { color: #000 }
.popup .closebutton                     { position: absolute; right: 5px; top: 4px; text-align: center; padding: 1px 6px 1px 6px; border-bottom: solid 1px #333; border-right: solid 1px #333; background-color: #ccc; font-family: Verdana,Arial,Helvetica,Sans-Serif; font-size: 9pt; font-weight: bold; color: #000; width: 21px; }
.popup .closebutton:active              { background-color: #ccc; border-top: none; border-left: none; border-bottom: solid 1px #ccc; border-right: solid 1px #ccc; color: #666; }
.imagecolumn .popup                     { overflow-y: hidden; } /* needed in chrome to turn right hand scroll bar off */
/* 
========================================================================
AUTOCOMPLETE FLY-OUT
========================================================================
*/
.autocomplete_completionListElement     { visibility : hidden; margin : 0px!important; background-color : inherit; color : windowtext; border : buttonshadow; border-width : 1px; border-style : solid; cursor : 'default'; overflow : auto; height : 200px; text-align : left; list-style-type : none; }
.autocomplete_highlightedListItem       { background-color: #3333CC; color: #FFFFFF; padding: 1px; font-weight: bold; }
.autocomplete_listItem                  { background-color : window; color : windowtext; padding : 1px; }
/* 
========================================================================
RADIO BUTTON LIST ADAPTOR
========================================================================
*/
.Kartris-RadioButtonList ul             { margin: 0 0 0 0; padding: 0; border: 0; overflow: hidden; }
.Kartris-RadioButtonList ul li          { white-space: nowrap; list-style: none; float: none; clear: both; margin: 0; height: 20px; border: 0; }
.Kartris-RadioButtonList ul li input    { width: 25px; float: left; border: none; background: none; }
/* 
========================================================================
UPDATE PROGRESS LIGHTBOX EFFECT
========================================================================
*/
.updateprogress                         { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; position: fixed; background-color: #000; z-index: 9; filter: alpha(opacity=30); opacity: 0.3; }
.loadingimage                           { position: fixed; background-position: center; background-image: url(Images/updateprogress.gif); background-repeat: no-repeat; top: 0px; left: 0px; width: 100%; height: 100%; padding: 5px; z-index: 10; }
.smallupdateprogress                    { display: block; height: 16px; width: 16px; background-image: url(Images/updateprogress_small.gif); background-repeat: no-repeat; float: left; margin: 0 3px 0 3px; }
/* 
========================================================================
CALLOUT VALIDATOR EXTENDER POPUP EXTENDER
========================================================================
*/
.vcHighlight                            { border: solid 1px #000; background-color: #FFFACD; width: auto; }

