

#kartriscontent                         {  }
/* 
========================================================================
LOGIN STATUS
========================================================================
*/
#loginstatus                            { text-transform: uppercase; font-size: 85%; font-weight: normal; color: #333; padding: 7px 0 3px 0; }
#loginstatus .logout                    { display: inline-block; position: relative; height: 15px; }
#loginstatus a.icon_logout:hover        { }
#loginstatus strong                     { color: #000; text-transform: none; font-size: 115%; }
#loginstatus #login_myaccountlink a     { color: #333; margin: 0 0 0 30px; }
/* 
========================================================================
SEARCH BOX
========================================================================
*/
#section_searchbox                      { padding: 15px 0 5px 0; }
#section_searchbox input.button         { background-color: #eee; color: #000; font-weight: bold; width: 100%; margin: 0 5px 0 0; height: 30px; }
#section_searchbox input[type="text"]   { box-shadow: none; height: 30px; background-color: #eee; border: none; border-style: none; }
#section_searchbox input[type="text"]:focus
                                        { background-color: #f7f7f7; }
/* 
========================================================================
OTHER CONTROLS language, currency, etc.
========================================================================
*/
#regionalsettings                       { width: 120px; padding: 5px 15px 2px 15px; }
#regionalsettings select                { border: none; background-color: #58585A; color: #E7E7E8; font-weight: 700; font-size: 90%; box-shadow: none; padding: 2px; height: 20px; }
/* 
========================================================================
BASKET SUMMARY
========================================================================
*/
#ecommerce-controls                     { background-color: #58585A; font-size: 0.875em; color: #333; font-weight: 700; min-height: 31px; }
#minibasketholder                       { }
#minibasket                             { width: auto; padding: 3px 0 0 0; }
#minibasket #minibasket_header          { position: absolute; width: 100%; z-index: 2000; background-color: transparent; }
#minibasket h4                          { letter-spacing: 0; white-space: nowrap; height: 21px; float: right; background: none; margin: 0 35px 0 0; display: inline-block; color: #333; text-align: right; z-index: 9992; padding: 3px 0 10px 2px; }
#minibasket h4 strong                   { color: #E7E7E8; font-weight: normal; }
#minibasket h4 a                        { font-family: "Open Sans",sans-serif; font-size: 1.1em; font-weight: 700; background-position: -2px -8px; background-image: url(Images/icon_shopping_cart_light.png); background-repeat: no-repeat; color: #E7E7E8; padding: 0 0 1px 29px; }
#minibasket #minibasket_main            { display: none; height: 0px; width: 100%; }
#minibasket:hover #minibasket_main      { background-color: #fff; border-right: solid 1px #fff; border-bottom: solid 1px #fff; display: block; z-index: 1999; text-align: left; height: auto; position: absolute; right: 15px; padding: 40px 8px 8px 8px; margin: -10px 0 0 0; }
#minibasket:hover                       { background-color: #fff; z-index: 1999; max-height: 1px; }
#minibasket:hover h4 strong             { color: #333; }
#minibasket:hover h4 a                  { color: #333; }
#minibasket #content                    { width: 100%; }
#minibasket #contents #orderinprogress,
#minibasket #contents #basketisempty    { padding: 1px 5px 12px 5px; font-weight: normal; font-size: 95%; color: #111; }
#minibasket ul                          { margin: 0; padding: 0; }
#minibasket ul li                       { list-style: none; float: none; clear: both; margin: 0 0 0 0; padding: 2px 0 0 0; }
#minibasket #contents ul #totals        { border-top: solid 1px #ccc; padding: 4px 5px 6px 10px; font-weight: normal; text-transform: uppercase; color: #333; font-size: 80%; text-align: right; }
#minibasket #contents ul #totals span.price
                                        { color: #333; }
#minibasket #contents ul #totals span.total
                                        { color: #333; }
#minibasket #contents ul #totals #minibasket_whereapplicable
                                        { margin: 10px 0 0 0; font-size: 85%; letter-spacing: 1px; }
#minibasket #contents ul #totals strong { font-weight: bold }
#minibasket #contents ul li a           { font-size: 100%; font-weight: normal; border-top: solid 1px #ccc; color: #333; padding: 1px 5px 1px 5px; margin: 0 0 1px 0; display: block; }
#minibasket #contents ul li a:hover     { color: #333; text-decoration: underline; }
#minibasket .button                     { color: #333;font-size: 100%; width: 100%; }
#minibasket .button:hover               { color: #333; }
.compactminibasket a                    { white-space: nowrap; background-position: 1px 1px; background-image: url(Images/icon_shopping_cart_light.png); background-repeat: no-repeat; color: #333; width: auto; padding: 9px 0 5px 30px; float: right; text-transform: uppercase; font-size: 85%; font-family: Segoe UI, Arial, Helvetica, Sans-Serif; }
#compactbasket_noofitems                { color: #E7E7E8; font-weight: normal; }
#minibasket #compactbasket_totalprice   {  }
#minibasket:hover #compactbasket_totalprice,
#minibasket:hover #compactbasket_noofitems
                                        { color: #333; }
#minibasket:hover h4 a                  { background-image: url(Images/icon_shopping_cart.png); }

.compactminibasket a:hover              { text-decoration: underline; }

/* 
========================================================================
FOOTER
========================================================================
*/
#footer                                 { margin: 0; padding: 0; min-height: 232px; /*change this size depending on the height of the footer image you're using*/ width: 100%; bottom: 0px; }
#footer_inside                          { background-color: #999; height: 100%; min-height: 232px; max-width: 980px; margin: 0 auto; color: #555; padding: 10px 20px 0 20px; }
#footer a                               { color: #ddd; font-weight: normal; }
#footer #copyright                      { font-size: 90%; margin: 45px 0 20px 0; }
#footer h2                              { color: #fff }
#footer ul                              { margin: 0; text-transform: uppercase; font-size: 90%; padding: 0; list-style-type: none; }
#footer ul li                           { padding: 0; }
#footer ul li a                         { padding: 2px; display: block; }
#footer ul li a:hover                   { background-color: #aaa; color: #ddd; }

