<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Kartris.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <Kartris.My.MySettings>
      <setting name="GoogleMerchantID" serializeAs="String">
        <value>1234567890</value>
      </setting>
      <setting name="GoogleMerchantKey" serializeAs="String">
        <value>GoogleMerchantKey</value>
      </setting>
      <setting name="GoogleEnvironment" serializeAs="String">
        <value>Sandbox</value>
      </setting>
      <setting name="PlatformID" serializeAs="String">
        <value>Kartris</value>
      </setting>
      <setting name="ProcessCurrency" serializeAs="String">
        <value>GBP</value>
      </setting>
      <setting name="Logging" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="AuthorizedOnly" serializeAs="String">
        <value>FALSE</value>
      </setting>
      <setting name="LogDirectory" serializeAs="String">
        <value>C:\test\</value>
      </setting>
      <setting name="Status" serializeAs="String">
        <value>OFF</value>
      </setting>
      <setting name="IsProtected" serializeAs="String">
        <value>No</value>
      </setting>
    </Kartris.My.MySettings>
  </applicationSettings>
</configuration>
