
/* 
========================================================================
BIG SCREENS
========================================================================
*/
@media only screen and (min-width: 930px) {
  .row                      { max-width: 100%; }
  table tr td               { padding: 11px 16px 15px 10px; }
  }

/* 
========================================================================
MEDIUM SCREENS
========================================================================
*/
@media only screen and (max-width: 930px) {

    /* page layout */
    #centre_container { padding: 10px 20px 90px 20px; }

    /* header */
    #headerboxshadow { height: 50px; }
    #header { padding: 0; height: 50px; }
    #header .row { padding: 5px 0; }
    #header .logo { width: 90px; }
    #compactbasket_totalprice  { display: none; }

    /* General */
    h1 { font-size: 150%; }
    h2 { font-size: 110%; }
}

/* 
========================================================================
SMALL SCREENS
========================================================================
*/
@media only screen and (max-width: 530px) {

    .product div.imagecolumn { padding: 10px 0 0 0 !important; }

    /* Products*/
    .products_shortened .item,
    .subcategories_shortened .item          { width: 100%; }
    .products_tabular .item                 { width: 100%; }
    .versions td.info                       { max-width: 200px; overflow: hidden; }

    .Kartris-DetailsView-Value { width: 270px; }
    ul { max-width: 100%; }
    #pagecontent_pad { min-height: 200px; padding-bottom: 15px; }
    .versions td.info { max-width: 200px; overflow: hidden; }
    .basket td.quantity input { width: 32px; text-align: right; }
    select,
    input { width: 100%; }
    #footer_inside { margin: 0; }
}

/* 
========================================================================
ORBIT SLIDESHOW
========================================================================
*/
#front-slideshow                        { background-color: #e5e5e5; z-index: 0; }
#front-slideshow li                     { padding: 10px 80px; min-height: 200px; }

/* 
========================================================================
GENERAL 
========================================================================
*/
table tr td                             { font-size: 100%; }

